<template>
  
    <div class="m-3">
      <div class="lg:container lg:mx-auto" style="background: #fff">
        <div class="p-12">
          
          <h3>Payment done!</h3>
          <p> If there was any issues, please contact info@iilonga.com</p>

        </div>
      </div>
    </div>

    
    <!--
        Tailwind UI components require Tailwind CSS v1.8 and the @tailwindcss/ui plugin.
        Read the documentation to get started: https://tailwindui.com/documentation
        -->

</template>

<script>


export default {
  data: function () {
    return {
      loading: false,
      moreResultsLoading: false,
      tokens: 1,
    };
  },
  components: {},
  props: ["reference"],
  mounted() {
    const self = this;

    

    self.checkPayment();
  },
  methods: {
    
    checkPayment() {
      const self = this;

      self.loading = true;

      axios
        .get("/employer/wallet/checkpayment/" + self.reference)
        .then((response) => {
        

          var data = response.data;

          //window.location = '/admin/buycredit/pay/'+data.data.id;

          //self.loading = false;
        })
        .catch((error) => {
          console.log(error);
          this.errored = true;
          self.loading = false;
        });
    },
  },
};
</script>
