<template>
  <div class="col-lg-9 column">
    <div class="px-2">
      <div class="mt-3">
        <div class="lg:container lg:mx-auto" style="background: #fff">
          <div class="p-12">
            <form @submit="addTokens">
              <div class="form-group">
                <div class="flex flex-col mt-2">
                  <label for="text">Tokens</label>
                  <input
                    min="1"
                    v-model="tokens"
                    required
                    type="number"
                    name="amount"
                    id="amount"
                    placeholder="enter you amount e.g. 10"
                    class="form-control"
                  />
                </div>

                <div
                  class="
                    bg-orange-100
                    border-l-4 border-orange-500
                    text-orange-700
                    p-4
                  "
                  role="alert"
                >
                  <p class="font-weight-bold">{{tokens}} Token (N${{tokens*100}} = {{tokens}} {{tokens > 1? "Candidates" : "Candidate"}})</p>
                  <p class="font-bold">Costs:</p>
                  <p class="font-weight-bold">N${{ tokens * 100 }}</p>
                </div>
              </div>
              <div style="place-content: center" class="row">
                <button
                  style=""
                  v-if="loading == false"
                  class="red-button-border-filled buy-tokens-button"
                >
                  Buy
                </button>
                <button v-else disabled  class="red-button-border-filled buy-tokens-button">
                  Please wait...
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!--
        Tailwind UI components require Tailwind CSS v1.8 and the @tailwindcss/ui plugin.
        Read the documentation to get started: https://tailwindui.com/documentation
        -->
    </div>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      loading: false,
      moreResultsLoading: false,
      tokens: 1,
    };
  },
  components: {},
  props: ["brands", "positions"],
  mounted() {
    const self = this;

    //console.log('hi');
    //console.log(self.brands);
    
    //alert('hi');
  },
  methods: {
    addTokens(e) {
      e.preventDefault();
      const self = this;

      self.loading = true;

      this.$swal
        .fire({
          title: "Are you sure?",
          text: "You can't redo buying Tokens",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes I accept!",
        })
        .then((result) => {
          if (result.isConfirmed) {
            axios
              .post("/employer/wallet/purchase-tokens/add-payment", {
                tokens: self.tokens,
              })
              .then((response) => {
                //this.info = response.data.bpi
                //self.partSelected = response.data.data;
                //self.showDialog = true;

                var data = response.data;

                window.location = '/employer/wallet/purchase-tokens/pay/' +data.data.id;

                self.loading = false;
              })
              .catch((error) => {
                console.log(error);
                this.errored = true;
                self.loading = false;
              });
          } else {
            self.loading = false;
          }
        });
    },
    /*
    addTokens(e) {

      e.preventDefault();
      const self = this;

      this.$swal
        .fire({
          title: "Are you sure?",
          text: "You can't redo buying Tokens",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes I accept!",
        })
        .then((result) => {
          if (result.isConfirmed) {
            axios
              .post("/admin/json/add-tokens", {
                tokens: self.tokens,
              })
              .then((response) => {
                //this.info = response.data.bpi
                //self.partSelected = response.data.data;
                //self.showDialog = true;
                window.location = '/dashboard'
              })
              .catch((error) => {
                console.log(error);
                this.errored = true;
              });
          }
        });
    },\*/
  },
};
</script>
