<template>
  <div>
    <div class="mt-3">
        <div class="lg:container lg:mx-auto" style="background: #fff">
      <div class="p-12 m-3">
          <h3>This is your transaction history</h3>
          
        </div>
      </div>
    </div>

    <div class="lg:container lg:mx-auto" style="background: #fff">
      <div class="mt-3">
        <div class="p-12">
          <div class="lg:container lg:mx-auto" style="background: #fff">
            <table class="table-auto" style="width: 100%">
              <thead>
                <tr>
                  <th class="px-4 py-2">Amount</th>
                  <th class="px-4 py-2">Tokens</th>
                  <th class="px-4 py-2">Date</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="payment in payments" :key="payment.id"> 
                  <td class="border px-4 py-2">N${{payment.amount.toFixed(2)}}</td>
                  <td class="border px-4 py-2">{{payment.tokens}}</td>
                  <td class="border px-4 py-2">{{ new Date(payment.created_at).toLocaleString('en-GB') }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


    
    

  </div>
</template>

<script>


export default {
  data: function () {
    return {
      loading: false,    
      payments: null  
    };
  },
  components: {
    
  },
  props: [],
  mounted() {
    const self = this;
    self.getAllDetail();
    //console.log('hi');
    //console.log(self.brands);
    //alert('hi');
  },
  methods: {

    getAllDetail() {
      const self = this;

      self.loading = true;

      axios
        .get("/employer/wallet/purchase-history/get-transactions")
        .then((response) => {
          
          var data = response.data;
          self.payments = data.transactions;
          console.log(self.payments);
          self.loading = false;
        })
        .catch((error) => {
          var data = error.response.data;
          console.log(data);

          if (data.message != undefined) {
            this.$swal({
              icon: "error",
              title: "Oops...",
              text: data.message,
            });
          } else {
            this.$swal({
              icon: "error",
              title: "Oops...",
              text: error.message,
            });
          }

          self.loading = false;
        });
    },
  },
};
</script>
