<template>
  <div class="col-lg-9 column">
    <div class="padding-left">
      <div class="profile-title">
        <h3>PROFESSION DETAILS</h3>
      </div>
      <div class="profile-form-edit">
        <div class="form">
          <div class="row">
            <div class="col-lg-12">
              <span class="pf-title">PROFESSIONAL TITLE</span>
              <div class="pf-field">
                <input
                  maxlength="255"
                  v-model="professionalTitle"
                  name="professional-title"
                  type="text"
                  placeholder="e.g. Mechanic"
                />
              </div>
            </div>

            <!-- <div
              v-if="profTitleSuccess"
              class="alert alert-success alert-dismissible"
            >
              <button v-on="profTitleSuccess = null" type="button" class="close" >
                ×
              </button>
              Success. Updated successfully.
            </div>

            <div
              v-if="profTitleFailed"
              class="alert alert-danger alert-dismissible"
            >
              <button type="button" class="close" data-dismiss="alert">
                ×
              </button>
              Failed. An error occured.
            </div> -->

            <div v-if="loading" class="col-lg-12">
              <div
                class="update-button red-button-border-filled"
                style=""
                type="button"
              >
                Loading...
              </div>
            </div>

            <div v-else class="col-lg-12">
              <button
                @click="updateProfessionalTitle"
                class="update-button red-button-border-filled"
                style=""
                type="button"
              >
                Save
              </button>
            </div>
            <div class="col-lg-12">
              <span class="pf-title">SKILLS</span>
              <div v-for="skill in skills" :key="skill.id" class="pf-field">
                <div class="div-skills">
                  {{ skill.name }}
                  <div style="float: right">
                    <a
                      @click="
                        editSkillBoolean = true;
                        editSkillId = skill.id;
                        skillName = skill.name;
                      "
                      data-toggle="modal"
                      data-target="#skillsModalCenter"
                    >
                      <i
                        class="fa fa-pencil-square-o fa-2x"
                        style="clear: both; margin-right: 10px"
                      ></i
                    ></a>

                    <a @click="removeSkill(skill.id)">
                      <i
                        class="fa fa-times-circle fa-2x"
                        style="clear: both"
                      ></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-12">
              <button
                class="add-skill-button red-button-border-filled"
                @click="editSkillBoolean = false"
                data-toggle="modal"
                data-target="#skillsModalCenter"
              >
                Add skill
              </button>
            </div>

            <div class="col-lg-12">
              <span class="pf-title">PROFESSION CATEGORIES</span>
              <div
                v-for="professionCategory in professionCategories"
                :key="professionCategory.id"
                class="pf-field"
              >
                <div class="div-skills">
                  <div v-if="professionCategory.pivot.years_of_experience > 1">

                    {{ professionCategory.name }} ({{professionCategory.pivot.years_of_experience}} years)

                  </div>
                  <div v-else>
                    {{ professionCategory.name }} ({{professionCategory.pivot.years_of_experience}} year)
                  </div>
                  <div style="float: right">
                    <a
                      @click="
                        editProfessionBoolean = true;
                        editProfessionId = professionCategory.id;
                        editProfessionPivotId = professionCategory.pivot.id
                        // professionCategorySelected = professionCategory;
                        preEditProfessionCategory(
                          professionCategory.parent,
                          professionCategory
                        );
                      "
                      data-toggle="modal"
                      data-target="#professionCategoriesModalCenter"
                    >
                      <i
                        class="fa fa-pencil-square-o fa-2x"
                        style="clear: both; margin-right: 10px"
                      ></i
                    ></a>

                    <a
                      @click="
                        removeProfessionCategory(professionCategory.pivot.id)
                      "
                    >
                      <i
                        class="fa fa-times-circle fa-2x"
                        style="clear: both; float: right"
                      ></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-12">
              <button
                @click="editProfessionBoolean = false;
                resetCategoryDialog()"
                class="
                  add-skill-button
                  red-button-border-filled red-button-border-filled
                "
                data-toggle="modal"
                data-target="#professionCategoriesModalCenter"
              >
                Add category
              </button>
            </div>
            <div class="col-lg-12" v-if="userCandidate != null">
              <div v-if="userCandidate.active == false" class="col-lg-12">
                <a
                  class="update-button red-button-border-filled anchor-button"
                  href="/candidate/employment_history"
                >
                  Next
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div
      data-backdrop="false"
      style=""
      class="modal fade"
      id="skillsModalCenter"
      tabindex="-1"
      role="dialog"
      aria-labelledby="skillsModalCenterTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5
              v-if="editSkillBoolean"
              class="modal-title"
              id="skillsModalCenterModalLongTitle"
            >
              Edit Skill
            </h5>
            <h5 v-else class="modal-title" id="skillsModalCenterModalLongTitle">
              Add Skill
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- <form action="/candidate/professional_details/skills/add" method="post" > -->

          <div class="modal-body">
            <input
              maxlength="255"
              v-model="skillName"
              placeholder="Enter skill"
            />
          </div>
          <div class="modal-footer">
            <button
              id="closeSkillsModal"
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button
              v-if="editSkillBoolean"
              @click="editSkill"
              type="button"
              class="btn btn-primary"
            >
              Save Skill
            </button>
            <button
              v-else
              @click="addSkill"
              type="button"
              class="btn btn-primary"
            >
              Add skill
            </button>
          </div>
          <!-- </form> -->
        </div>
      </div>
    </div>

    <div
      data-backdrop="false"
      style=""
      class="modal fade"
      id="professionCategoriesModalCenter"
      tabindex="-1"
      role="dialog"
      aria-labelledby="professionCategoriesModalCenterTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5
              v-if="editProfessionBoolean"
              class="modal-title"
              id="skillsModalCenterModalLongTitle"
            >
              Edit Profession Category
            </h5>
            <h5 v-else class="modal-title" id="skillsModalCenterModalLongTitle">
              Add Profession Category
            </h5>

            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- <form action="/candidate/professional_details/skills/add" method="post" > -->

          <div class="modal-body">
            <!-- <input v-model="professionCategoryName" placeholder="Enter profession category" /> -->
            <div class="form-group">
              <label for="main_category">Main Category</label>
              <select
                class="form-control"
                v-model="professionMainCategorySelected"
              >
                <option disabled value="">Please select one</option>
                <option
                  :value="item"
                  v-for="item in professionCategoryOptions"
                  :key="item.id"
                >
                  {{ item.name }}
                </option>
              </select>
            </div>
            <div v-if="professionMainCategorySelected != ''">
              <label for="category">Category</label>
              <select  class="form-control" v-model="professionCategorySelected">
                <option disabled value="">Please select one</option>
                <option
                  :value="item"
                  v-for="item in professionMainCategorySelected.children"
                  :key="item.id"
                >
                  {{ item.name }}
                </option>
              </select>
            </div>
            <br />

            <div v-if="professionCategorySelected != ''">
              <label for="category">Years of Experience</label>
              <!-- <select class="form-control" v-model="professionCategorySelected">
                <option disabled value="">Please select one</option>
                <option
                  :value="item"
                  v-for="item in professionMainCategorySelected.children"
                  :key="item.id"
                >
                  {{ item.name }}
                </option>
              </select> -->

              <input
                v-model="yearsOfExperience"
                class="form-control"
                type="number"
                id="quantity"
                name="quantity"
              />
            </div>
          </div>
          <div class="modal-footer">
            <button
              id="closeProfessionCategoriesModal"
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>

            <button
              v-if="editProfessionBoolean"
              @click="editProfessionCategory"
              type="button"
              class="btn btn-primary"
            >
              Save Profession Category
            </button>
            <button
              v-else
              @click="addProfessionCategory"
              type="button"
              class="btn btn-primary"
            >
              Add Profession Category
            </button>
          </div>
          <!-- </form> -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      loading: false,

      professionalTitle: "",
      profTitleSuccess: null,
      profTitleFailed: null,

      userCandidate: null,

      skills: null,
      skillsDialog: false,
      skillName: "",

      editSkillBoolean: true,
      editSkillId: 0,

      editProfessionBoolean: true,
      // editProfessionId: 0,

      professionCategoryOptions: null,
      professionCategories: null,
      editProfessionPivotId: null,

      professionMainCategorySelected: "",
      professionCategorySelected: "",
      yearsOfExperience: 1,
    };
  },
  //   props: ["id"],
  mounted() {
    const self = this;

    console.log("Component mounted.");

    self.currentId = self.id;

    self.getAllDetail();
  },
  methods: {
    getAllDetail() {
      const self = this;

      self.loading = true;

      axios
        .get("/candidate/professional_details/getAllDetail")
        .then((response) => {
          // console.log(response);
          // console.log("hi");
          var data = response.data;
          self.skills = data.skills;
          self.professionCategoryOptions = data.professionCategoryOptions;
          self.professionCategories = data.professionCategories;
          self.professionalTitle = data.professionalTitle;
          self.userCandidate = data.userCandidate;
          console.log("self.professionCategoriesOptions");
          console.log(self.professionCategories);
          self.loading = false;
        })
        .catch((error) => {
          var data = error.response.data;
          console.log(data);

          if (data.message != undefined) {
            this.$swal({
              icon: "error",
              title: "Oops...",
              text: data.message,
            });
          } else {
            this.$swal({
              icon: "error",
              title: "Oops...",
              text: error.message,
            });
          }

          self.loading = false;
        });
    },

    addSkill() {
      const self = this;

      axios
        .post("/candidate/professional_details/skill/add", {
          skillName: self.skillName,
        })
        .then((response) => {
          //console.log(response);

          var data = response.data;
          document.getElementById("closeSkillsModal").click();
          self.skillName = "";
          self.getAllDetail();
          self.loading = false;
          this.$swal({
            toast: true,
            position: "bottom-end",
            showConfirmButton: false,
            timer: 3000,
            icon: "success",
            type: "success",
            title: "Skill added successfully",
          });
        })
        .catch((error) => {
          console.log(error);
          this.errored = true;
          self.loading = false;
        });
    },

    editSkill() {
      const self = this;

      axios
        .post("/candidate/professional_details/skill/edit", {
          editSkillId: self.editSkillId,
          skillName: self.skillName,
        })
        .then((response) => {
          //console.log(response);

          var data = response.data;
          document.getElementById("closeSkillsModal").click();
          self.skillName = "";
          self.skillId = "";

          self.getAllDetail();
          self.loading = false;
          this.$swal({
            toast: true,
            position: "bottom-end",
            showConfirmButton: false,
            timer: 3000,
            icon: "success",
            type: "success",
            title: "Skill edited successfully",
          });
        })
        .catch((error) => {
          console.log(error);
          this.errored = true;
          self.loading = false;
        });
    },

    removeSkill(skillId) {
      const self = this;

      //console.log(rowId);

      this.$swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!",
      }).then((result) => {
        if (result.value) {
          axios
            .delete("/candidate/professional_details/skill/remove/" + skillId)
            .then((response) => {
              self.getAllDetail();

              this.$swal({
                toast: true,
                position: "bottom-end",
                showConfirmButton: false,
                timer: 3000,
                type: "success",
                title: "Skill Deleted successfully",
              });
              self.loading = false;
              //self.showAddForm = false;
            })
            .catch((e) => {
              this.errors.push(e);
              self.loading = false;
            });
        }
      });
    },

    preEditProfessionCategory(parent, child) {
      const self = this;

      console.log("self.professionCategoryOptions");
      console.log(child);

      self.yearsOfExperience = child.pivot.years_of_experience;

      self.professionCategoryOptions.map(function (value, key) {
        console.log(value.id);
        if (value.id == parent.id) {
          self.professionMainCategorySelected = value;
          // console.log('yes');

          value.children.map(function (valueChild, key) {
            console.log(value.id);
            if (valueChild.id == child.id) {
              self.professionCategorySelected = valueChild;
              console.log("yes");
            }
          });
        }
      });
    },

    addProfessionCategory() {
      const self = this;

      if(self.professionCategorySelected.id == null){
        self.$swal({
              icon: "error",
              title: "Oops...",
              text: 'Please add a category',
            });
      }else{

        axios
          .post("/candidate/professional_details/profession_category/add", {
            ProfessionCategoryId: self.professionCategorySelected.id,
            YearsOfExperience: self.yearsOfExperience,
          })
          .then((response) => {
            //console.log(response);

            var data = response.data;
            document.getElementById("closeProfessionCategoriesModal").click();
            self.skillName = "";
            self.getAllDetail();
            self.loading = false;
            this.$swal({
              toast: true,
              position: "bottom-end",
              showConfirmButton: false,
              timer: 3000,
              icon: "success",
              type: "success",
              title: "Professional Category added successfully",
            });
          })
          .catch((error) => {
            console.log(error);
            this.errored = true;
            self.loading = false;
          });

        }
    },

    editProfessionCategory() {
      const self = this;

      console.log(self.yearsOfExperience);

      axios
        .post("/candidate/professional_details/profession_category/edit", {
          ProfessionPivotId: self.editProfessionPivotId,
          ProfessionCategoryId: self.professionCategorySelected.id,
          YearsOfExperience: self.yearsOfExperience,
        })
        .then((response) => {
          //console.log(response);

          var data = response.data;
          document.getElementById("closeProfessionCategoriesModal").click();
          self.professionCategorySelected = "";
          self.professionMainCategorySelected = "";
          self.YearsOfExperience = 1;

          self.getAllDetail();
          self.loading = false;
          this.$swal({
            toast: true,
            position: "bottom-end",
            showConfirmButton: false,
            timer: 3000,
            icon: "success",
            type: "success",
            title: "Professional Category successfully",
          });
        })
        .catch((error) => {
          console.log(error);
          this.errored = true;
          self.loading = false;
        });
    },

    removeProfessionCategory(categoryId) {
      const self = this;

      console.log(categoryId);

      this.$swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",

        confirmButtonText: "Yes, delete it!",
      }).then((result) => {
        if (result.value) {
          axios
            .delete(
              "/candidate/professional_details/profession_category/remove/" +
                categoryId
            )
            .then((response) => {
              self.getAllDetail();

              this.$swal({
                toast: true,
                position: "bottom-end",
                showConfirmButton: false,
                icon: "success",
                timer: 3000,
                type: "success",
                title: "Category Deleted successfully",
              });
              self.loading = false;
              //self.showAddForm = false;
            })
            .catch((e) => {
              this.errors.push(e);
              self.loading = false;
            });
        }
      });
    },

    updateProfessionalTitle() {
      const self = this;

      axios
        .post("/candidate/professional_details/professional_title/update", {
          professionalTitle: self.professionalTitle,
        })
        .then((response) => {
          //console.log(response);

          var data = response.data;

          self.professionalTitle = "";
          self.getAllDetail();
          self.profTitleSuccess = true;

          this.$swal({
            toast: true,
            position: "bottom-end",
            showConfirmButton: false,
            timer: 3000,
            icon: "success",
            type: "success",
            title: "Professional title changed successfully",
          });
          self.loading = false;
        })
        .catch((error) => {
          console.log(error);
          this.errored = true;
          self.loading = false;
        });
    },

    resetCategoryDialog(){
const self = this;

      self.professionMainCategorySelected = "";
      self.professionCategorySelected =  "";
      self.yearsOfExperience=  1;
    }
  },
};
</script>
