<template>
  <div class="col-9 column">
    <div v-if="jobs == null" >
      <div class="padding-left">
        <div class="profile-title">
          <h3>Loading...</h3>
        </div>
      </div>
    </div>

    <div v-else >
      <div class="padding-left">
        <div class="profile-title">
          <h3>Manage Jobs</h3>
        </div>
        <div class="profile-form-edit">
          <div v-if="jobs.length == 0" class="m-3">
            <h3 style="">You have no jobs. Please post a job.</h3>
          </div>

          <div
            v-else
            v-for="job in jobs"
            :key="job.id"
            style="border: 1px solid #979797; border-radius: 5px; padding: 10px"
            class="simple-text-block m-3"
          >
            <h5 style="" class="">
              Title: <i>{{ job.title }}</i>
            </h5>
            <br /><br />
            <h5 style="" class="">
              Location: <i>{{ job.city }}</i>
            </h5>
            <br /><br />
            <div style="" class="">
              <h5>
                Job Categories:
                <i
                  v-for="(jobCategory, index) in job.categories"
                  :key="jobCategory.id"
                >
                  <b
                    style="font-weight: 500"
                    v-if="index == job.categories.length - 1"
                    >{{ jobCategory.name }}</b
                  >
                  <b style="font-weight: 500" v-else
                    >{{ jobCategory.name }},
                  </b>
                </i>
              </h5>
            </div>

            <br /><br />
            <h5 style="" class="">
              Job Type: <i>{{ job.job_type }}</i>
            </h5>
            <br /><br />
            <h5 style="" class="">
              Potential Candidates: <i>{{ job.potential_users }}</i>
            </h5>
            <br /><br />
            <h5 style="" class="">
              Candidates CV'S Obtained: <i>{{ job.cvObtained }}</i>
            </h5>
            <br /><br />
            <form :action="`browse-candidates/${job.id}`">
              <button type="submit" class="red-button-border-filled" style="">
                Browse Candidates
              </button>
            </form>
            <br /><br />
            <form :action="`browse-candidates/bought-candidates/${job.id}`">
              <button class="red-button-border-filled" style="">
                See bought candidates
              </button>
            </form>
            <!-- <br /><br />
          
          <button class="red-button-border-filled" style="">
            See favourite candidates
          </button> -->
            <!-- <br /><br /><br />
          
          <button class="red-button-border-filled" style="">job Specs</button> -->
            <br /><br />

            <button
              v-if="job.done == false"
              class="red-button-border-filled"
              style=""
              data-toggle="modal"
              data-target="#jobDoneModalCenter"
              @click="openMarkJobDoneModal(job.id)"
            >
              Mark Job as done
            </button>

            <div v-else class="position-filled-div" style="">
              Position has been filled
            </div>
          </div>
        </div>
      </div>
      <div
        data-backdrop="false"
        style=""
        class="modal fade"
        id="jobDoneModalCenter"
        tabindex="-1"
        role="dialog"
        aria-labelledby="jobDoneModalCenter"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="skillsModalCenterModalLongTitle">
                Mark Job As Done
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <input name="job_id" type="hidden" value="" />
            <div class="modal-body">
              <!-- <input v-model="professionCategoryName" placeholder="Enter profession category" /> -->
              <select v-model="markJobDoneResultId" name="jobDone">
                <option selected disabled value="">Please select one</option>

                <option
                  v-for="result in results"
                  :key="result.id"
                  :value="result.id"
                >
                  {{ result.name }}
                </option>
              </select>
            </div>
            <div class="modal-footer">
              <button
                id="closeJobDoneModal"
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button
                v-if="markJobDoneResultId != ''"
                @click="markJobDone"
                type="submit"
                class="btn btn-primary"
              >
                Update
              </button>
              <div v-else class="btn btn-secondary">Update</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      loading: true,
      loadingPost: false,
      jobs: null,
      results: null,

      markJobDoneJobId: null,
      markJobDoneResultId: "",
    };
  },
  components: {},
  props: [],
  mounted() {
    const self = this;
    self.getAllDetail();
    //console.log('hi');
    //console.log(self.brands);
    //alert('hi');
  },
  methods: {
    getAllDetail() {
      const self = this;

      self.loading = true;

      axios
        .get("/employer/manage-jobs/getAllDetail")
        .then((response) => {
          var data = response.data;
          self.jobs = data.jobs;
          self.results = data.results;
          console.log(self.jobs);
          self.loading = false;
        })
        .catch((error) => {
          var data = error.response.data;
          console.log(data);

          if (data.message != undefined) {
            this.$swal({
              icon: "error",
              title: "Oops...",
              text: data.message,
            });
          } else {
            this.$swal({
              icon: "error",
              title: "Oops...",
              text: error.message,
            });
          }

          self.loading = false;
        });
    },
    markJobDone() {
      //   e.preventDefault();
      const self = this;

      self.loadingPost = true;

      //   self.loading = true;

      this.$swal
        .fire({
          title: "Are you sure?",
          text: "You can't redo it",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes I accept!",
        })
        .then((result) => {
          if (result.isConfirmed) {
            axios
              .post("/employer/manage-jobs/job-done", {
                job_id: self.markJobDoneJobId,
                result_id: self.markJobDoneResultId,
              })
              .then((response) => {
                //this.info = response.data.bpi
                //self.partSelected = response.data.data;
                //self.showDialog = true;

                var data = response.data;

                // window.location = "/employer/wallet";
                document.getElementById("closeJobDoneModal").click();
                self.loading = false;
                self.resetMarkJobDoneModal();
                self.getAllDetail();
              })
              .catch((error) => {
                console.log(error);
                this.errored = true;
                self.loadingPost = false;
              });
          } else {
            self.loadingPost = false;
          }
        });
    },

    openMarkJobDoneModal(jobId) {
      const self = this;

      self.markJobDoneJobId = jobId;
    },

    resetMarkJobDoneModal() {
      const self = this;

      self.markJobDoneJobId = null;
      self.markJobDoneResultId = "";
    },
  },
};
</script>
