<template>
  <div class="col-lg-9 column">
    <div class="padding-left">
      <div class="profile-title">
        <h3>EDUCATION HISTORY</h3>
      </div>
      <div class="profile-form-edit">
        <div class="form">
          <div
            style="margin-top: 30px"
            v-for="history in educationHistories"
            :key="history.id"
            class="row"
          >
            <!-- <div> -->
            <div class="col-lg-8">
              <p class="employment-history-name">{{ history.name }}</p>
              <p class="employment-history-additional">{{ history.title }}</p>
              <p class="employment-history-additional">{{ history.name }}</p>
              <!-- <p class="employment-history-additional">PABX Tech</p> -->
              <p class="employment-history-additional">
                {{ history.date_from }} - {{ history.date_to }}
              </p>
            </div>

            <div class="col-lg-4">
              <div class="col-lg-4">
                <button
                  @click="editFormMethod(history.id, history)"
                  class="add-skill-button red-button-border-filled"
                >
                  Edit
                </button>
              </div>
              <div class="col-lg-4">
                <button
                  @click="removeEducationHistory(history.id)"
                  class="add-skill-button red-button-border-filled"
                >
                  Remove
                </button>
              </div>
            </div>

            <div class="col-lg-12 mt-3">
              <p class="education-history-additional">
                {{ history.summary }}
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <button
                @click="isShowForm = true"
                class="update-button red-button-border-filled"
                style="width: 200px"
                type="submit"
              >
                Add Another
              </button>
            </div>
            <div style=" position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;"  v-if="userCandidate != null">
              <div v-if="userCandidate.active == false" class="col-lg-12">
                <a
                  class="update-button red-button-border-filled anchor-button"
                  href="/candidate/upload_cv"
                >
                  Next
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <simple-modal
      v-model="isShowForm"
      title="Add Education History"
      :hasFooter="true"
    >
      <template slot="body">
        <form @submit.prevent="addEducationHistory">
          <div class="form-group">
            <label for="education_name">Educational Institution</label>
            <input
              required
              v-model="form.educationName"
              type="text"
              class="form-control"
              id="education_name"
              placeholder="Enter Educational Institution name"
            />
          </div>
          <div class="form-group">
            <label for="education_type">Education Type</label>
            <select
              required
              v-model="form.educationType_id"
              class="form-control"
              id="education_type"
            >
              <option selected value="">Please select one</option>
              <option
                :value="type.id"
                v-for="type in educationTypes"
                :key="type.id"
              >
                {{ type.name }}
              </option>
            </select>
          </div>
          <!-- <div class="form-group">
            <label for="city">City</label>
            <input
              required
              v-model="form.city"
              type="text"
              class="form-control"
              id="city"
              placeholder="e.g. Windhoek"
            />
          </div> -->
          <div class="form-group">
            <label for="title">Title</label>
            <input
              required
              v-model="form.title"
              type="text"
              class="form-control"
              id="title"
              placeholder="e.g. Computer Science"
            />
          </div>
          <div class="form-group">
            <label for="date_from">Date From</label>
            <input
              required
              v-model="form.dateFrom"
              type="date"
              class="form-control"
              id="date_from"
              placeholder="e.g. 1 January 2021"
            />
          </div>
          <div class="form-group">
            <label for="date_to">Date To</label>
            <input
              required
              v-model="form.dateTo"
              type="date"
              class="form-control"
              id="date_to"
              placeholder="e.g. 31 January 2021"
            />
          </div>
          <div class="form-group">
            <label for="summary">Summary</label>
            <textarea
              style="margin-bottom: 55px"
              v-model="form.summary"
              class="form-control"
              id="summary"
              rows="3"
            ></textarea>
          </div>
          <button
            class="update-button red-button-border-filled"
            style="width: 200px"
            type="submit"
          >
            <!-- data-toggle="modal"
                data-target="#employmentHistoriesModalCenter" -->
            Add
          </button>
        </form>
      </template>
      <template slot="footer"> </template>
    </simple-modal>


    <simple-modal
      v-model="isShowFormEdit"
      title="Edit Education History"
      :hasFooter="true"
    >
      <template slot="body">
        <form @submit.prevent="editEducationHistory">
          <div class="form-group">
            <label for="education_name">Educational Institution</label>
            <input
              required
              v-model="form.educationName"
              type="text"
              class="form-control"
              id="education_name"
              placeholder="Enter Educational Institution name"
            />
          </div>
          <div class="form-group">
            <label for="education_type">Education Type</label>
            <select
              required
              v-model="form.educationType_id"
              class="form-control"
              id="education_type"
            >
              <option selected value="">Please select one</option>
              <option
                :value="type.id"
                v-for="type in educationTypes"
                :key="type.id"
              >
                {{ type.name }}
              </option>
            </select>
          </div>
          <!-- <div class="form-group">
            <label for="city">City</label>
            <input
              required
              v-model="form.city"
              type="text"
              class="form-control"
              id="city"
              placeholder="e.g. Windhoek"
            />
          </div> -->
          <div class="form-group">
            <label for="title">Title</label>
            <input
              required
              v-model="form.title"
              type="text"
              class="form-control"
              id="title"
              placeholder="e.g. Computer Science"
            />
          </div>
          <div class="form-group">
            <label for="date_from">Date From</label>
            <input
              required
              v-model="form.dateFrom"
              type="date"
              class="form-control"
              id="date_from"
              placeholder="e.g. 1 January 2021"
            />
          </div>
          <div class="form-group">
            <label for="date_to">Date To</label>
            <input
              required
              v-model="form.dateTo"
              type="date"
              class="form-control"
              id="date_to"
              placeholder="e.g. 31 January 2021"
            />
          </div>
          <div class="form-group">
            <label for="summary">Summary</label>
            <textarea
              style="margin-bottom: 55px"
              v-model="form.summary"
              class="form-control"
              id="summary"
              rows="3"
            ></textarea>
          </div>
          <button
            class="update-button red-button-border-filled"
            style="width: 200px"
            type="submit"
          >
            <!-- data-toggle="modal"
                data-target="#employmentHistoriesModalCenter" -->
            Save
          </button>
        </form>
      </template>
      <template slot="footer"> </template>
    </simple-modal>
  </div>
</template>

<script>
import SimpleModal from "simple-modal-vue";
export default {
  data() {
    return {
      isShowForm: false,
      isShowFormEdit: false,

      historyEditId: 0,


      form: {
        educationName: "",
        educationType_id: "",

        title: "",
        dateFrom: null,
        dateTo: null,

        summary: "",
      },
      userCandidate: null,

      loading: false,
      educationHistories: null,
      educationTypes: null,
    };
  },
  //   props: ["id"],
  mounted() {
    const self = this;

    console.log("Component mounted.");

    self.currentId = self.id;

    self.getAllDetail();
  },
  components: { SimpleModal },
  methods: {
    getAllDetail() {
      const self = this;

      self.loading = true;

      axios
        .get("/candidate/education_history/getAllDetail")
        .then((response) => {
          // console.log(response);
          // console.log("hi");
          var data = response.data;
          self.educationHistories = data.educationHistories;
          self.educationTypes = data.educationTypes;
          self.userCandidate = data.userCandidate;
          self.loading = false;
        })
        .catch((error) => {
          var data = error.response.data;
          console.log(data);

          if (data.message != undefined) {
            this.$swal({
              icon: "error",
              title: "Oops...",
              text: data.message,
            });
          } else {
            this.$swal({
              icon: "error",
              title: "Oops...",
              text: error.message,
            });
          }

          self.loading = false;
        });
    },

    removeEducationHistory(historyId) {
      const self = this;

      //console.log(rowId);

      this.$swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!",
      }).then((result) => {
        if (result.value) {
          axios
            .delete("/candidate/education_history/remove/" + historyId)
            .then((response) => {
              self.getAllDetail();

              this.$swal({
                toast: true,
                position: "bottom-end",
                showConfirmButton: false,
                timer: 3000,
                icon: "success",
                type: "success",
                title: "Education History Deleted successfully",
              });

              //self.showAddForm = false;
            })
            .catch((e) => {
              this.errors.push(e);
            });
        }
      });
    },

    editFormMethod(historyId, history){
      const self = this;
      self.historyEditId = historyId;
      self.isShowFormEdit = !self.isShowFormEdit;
      // self.form = history
     self.form = {
        educationName: history.name,
        educationType_id: history.education_type_id,
        
        title: history.title,
        dateFrom: history.date_from,
        dateTo: history.date_to,
        summary: history.summary,

        
      };
    },

    editEducationHistory() {
      // e.preventDefault();
      const self = this;
      console.log("response");
      axios
        .post("/candidate/education_history/edit", {
          historyId: self.historyEditId,
          form: self.form,
        })
        .then((response) => {
          console.log(response);

          var data = response.data;
          // document.getElementById("closeProfessionCategoriesModal").click();
          self.isShowFormEdit = false;
          self.resetForm();
          self.getAllDetail();
        })
        .catch((error) => {
          console.log(error);
          this.errored = true;
        });
    },

    addEducationHistory() {
      // e.preventDefault();
      const self = this;
      console.log("response");
      axios
        .post("/candidate/education_history/add", {
          form: self.form,
        })
        .then((response) => {
          console.log(response);

          var data = response.data;
          // document.getElementById("closeProfessionCategoriesModal").click();
          self.isShowForm = false;
          self.resetForm();
          self.getAllDetail();
        })
        .catch((error) => {
          console.log(error);
          this.errored = true;
        });
    },

    resetForm() {
      const self = this;

      self.form = {
        educationName: "",
        educationType_id: "",

        title: "",
        dateFrom: null,
        dateTo: null,
        summary: "",
      };
    },
  },
};
</script>
