

<template>
  <div v-if="loading == false" class="col-lg-9 column">
    <div class="padding-left">
      <div class="profile-title">
        <h3>UPLOAD YOUR CV</h3>
        <div class="upload-img-bar">
          <form @submit.prevent="uploadCv">
            <div>
              <label
                style="border: 0px !important"
                for="formFile"
                class="form-label"
              >
                <h5>Select your cv</h5>
              </label>
              <div class="mb-3">
                <input
                  @change="handleFileUpload($event)"
                  class="form-control"
                  type="file"
                  id="formFile"
                  name="pdf"
                  accept=".pdf"
                />
                <span
                  >Max file size 10MB.
                  <span style="color: red">PDF ONLY PLEASE</span></span
                >
              </div>

              <div v-if="loadingPost == false" class="col-lg-12">
                <button
                  class="red-button-border-filled update-button"
                  style="float: left !important"
                  type="submit"
                >
                  Upload
                </button>
              </div>
              <div v-else class="col-lg-12">
                <button
                  disabled
                  class="red-button-border-filled update-button"
                  style="float: left !important"
                >
                  Loading...
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="profile-form-edit">
        <div class="upload-img-bar">
          <div v-if="userCandidate.cv != null" class="row">
            <div>
              <div style="margin-top: 100px" class="">
                <h3>MY CV</h3>
                <p>
                  Last uploaded
                  <!-- {{ Carbon\Carbon::parse($userCandidate->cv_uploaded_date)->format('d M Y') }} -->
                </p>
                <img
                  style="
                    width: 250px;
                    height: 230px;
                    border-radius: 7px;
                    border: 1px solid #707070;
                  "
                  :src="`${envCloudinary}c_fill,g_face,w_140/${userCandidate.cv}.jpg`"
                  alt="CV"
                />
              </div>
            </div>

            <div class="col-lg-12">
              <a target="blank" :href="`${envCloudinary}${userCandidate.cv}.pdf`" download>
                <button
                  style="float: left !important"
                  class="  update-button red-button-border-filled btn btn-danger"
                  type="button"
                >
                  Download
                </button>
              </a>
            </div>
            <div v-if="loadingPost == false" class="col-lg-12">
              <a @click="removeCv">
                <button
                  style="float: left !important"
                  class="btn btn-danger "
                  type="button"
                >
                  Delete
                </button>
              </a>
            </div>
            <div v-else class="col-lg-12">
              <a >
                <button
                  style="float: left !important"
                  class="btn btn-danger "
                  type="button"
                >
                  Loading...
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="padding-left text-center m-3">
      <a
        v-if="userCandidate.cv != null && userCandidate.active != true"
        style="color: white"
        href="profile/toggle-activate"
        title=""
      >
        <div style="width: 220px" class="btn btn-success">
          <i></i>Enable profile?
        </div>
      </a>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      loading: true,
      loadingPost: false,

      form: {
        file: null,
      },

      userCandidate: null,
      envCloudinary: "",
    };
  },
  //   props: ["id"],
  mounted() {
    const self = this;

    console.log("Component mounted.");

    self.currentId = self.id;

    self.getAllDetail();
  },
  methods: {
    getAllDetail() {
      const self = this;

      self.loading = true;

      axios
        .get("/candidate/upload_cv/getAllDetail")
        .then((response) => {
          // console.log(response);
          // console.log("hi");
          var data = response.data;
          self.envCloudinary = data.envCloudinary;
          self.userCandidate = data.userCandidate;

          self.loading = false;
        })
        .catch((error) => {
          var data = error.response.data;
          console.log(data);

          if (data.message != undefined) {
            this.$swal({
              icon: "error",
              title: "Oops...",
              text: data.message,
            });
          } else {
            this.$swal({
              icon: "error",
              title: "Oops...",
              text: error.message,
            });
          }

          self.loading = false;
        });
    },

    resetForm() {
      const self = this;

      self.form = {
        file: null,
      };
    },

    handleFileUpload(event) {
      const self = this;
      self.form.file = event.target.files[0];
    },

    downloadCv() {
      // href="{{ env('CLOUDINARY_WEBSITE_URL') }}{{ $userCandidate->cv }}.pdf"
    },

    uploadCv() {
      const self = this;
      self.loadingPost = true;
      let formData = new FormData();
      formData.append("file", this.form.file);

      if(this.form.file == null){
        this.$swal({
                toast: true,
                position: "bottom-end",
                showConfirmButton: false,
                timer: 3000,
                icon: "error",
                type: "error",
                title: "No file selected",
              });
              self.loadingPost = false;
      }else{

      

      axios
        .post("/candidate/upload_cv/upload", formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        })
        .then((response) => {
          //console.log(response);

          var data = response.data;

          self.getAllDetail();

          this.$swal({
            toast: true,
            position: "bottom-end",
            showConfirmButton: false,
            timer: 3000,
            icon: "success",
            type: "success",
            title: "CV added successfully",
          });
          self.resetForm();
          self.loadingPost = false;
        })
        .catch((error) => {
          this.$swal({
                toast: true,
                position: "bottom-end",
                showConfirmButton: false,
                timer: 3000,
                icon: "error",
                type: "error",
                title: "Could not upload cv",
              });
          console.log(error);
          this.errored = true;
          self.loadingPost = false;
        });

        }
    },

    removeCv() {
      const self = this;

      //console.log(rowId);
      self.loadingPost = true;
      this.$swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!",
      }).then((result) => {
        if (result.value) {
          axios
            .delete("/candidate/upload_cv/remove")
            .then((response) => {
              self.getAllDetail();

              this.$swal({
                toast: true,
                position: "bottom-end",
                showConfirmButton: false,
                timer: 3000,
                icon: "success",
                type: "success",
                title: "CV Deleted successfully",
              });
              self.loadingPost = false;
              //self.showAddForm = false;
            })
            .catch((e) => {
              this.errors.push(e);
              self.loadingPost = false;
            });
        }
      });
    },
  },
};
</script>
